    
    <section id="hero" class="d-flex align-items-center">  
      <div class="container">
        <div class="row">
          <div class="col-lg-6 d-flex flex-column justify-content-center pt-4 pt-lg-0 order-2 order-lg-1" data-aos="fade-up" data-aos-delay="200">
            <h1>Better Solutions For Your Business</h1>
            <!-- <h2>We are team of talanted designers making websites with Bootstrap</h2> -->
            <div class="d-lg-flex">
              <a routerLink="/register" class="btn-get-started scrollto">Get Started</a>
              <!-- <a href="https://www.youtube.com/watch?v=jDDaplaOz7Q" class="venobox btn-watch-video" data-vbtype="video" data-autoplay="true"> Watch Video <i class="icofont-play-alt-2"></i></a> -->
            </div>
          </div>
          <div class="col-lg-6 order-1 order-lg-2 hero-img" data-aos="zoom-in" data-aos-delay="200">
            <img src="assets/img/main_back.svg" class="img-fluid animated" alt="">
          </div>
        </div>
      </div>
    </section>
    <!-- End Hero -->
  
    <main id="main">
      <section id="services" class="services section-bg">
          <div class="container" data-aos="fade-up">
              <div class="section-title">
                  <h2>Services</h2>
                  <!-- <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit
                      sint
                      consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea.
                      Quia
                      fugiat sit in iste officiis commodi quidem hic quas.</p> -->
              </div>
  
              <div class="row">
                  <div class="col-xl-3 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
                      <div class="icon-box">
                          <div class="icon"><i class="fas fa-shield-alt"></i></div>
                          <h4><a href="">Security</a></h4>
                          <p>We live in a world that has walls and those walls need to be guarded by men with guns</p>
                      </div>
                  </div>
  
                  <div class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-md-0" data-aos="zoom-in"
                      data-aos-delay="200">
                      <div class="icon-box">
                          <div class="icon"><i class="fas fa-search"></i></div>
                          <h4><a href="">Search</a></h4>
                          <p>Easy and effective way to make the life easy.</p>
                      </div>
                  </div>
  
                  <div class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-xl-0" data-aos="zoom-in"
                      data-aos-delay="300">
                      <div class="icon-box">
                          <div class="icon"><i class="fas fa-plus"></i></div>
                          <h4><a href="">Add Asset</a></h4>
                          <p>Selling asset became easy on blockchain, by simply adding it to the network.</p>
                      </div>
                  </div>
  
                  <div class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-xl-0" data-aos="zoom-in"
                      data-aos-delay="400">
                      <div class="icon-box">
                          <div class="icon"><i class="fas fa-share"></i></div>
                          <h4><a href="">Easy Transfer</a></h4>
                          <p>Easy transfer of assets from one person to another in a secured way.</p>
                      </div>
                  </div>
              </div>
          </div>
      </section>
  </main>
  
    <a routerLink="/home" class="back-to-top"><i class="ri-arrow-up-line"></i></a>
 